<a href="https://colab.research.google.com/github/laura-james/Python-Code_To-Know-GCSE/blob/main/Python_Code_To_Know.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Displaying output
In Python we use the `print()` function to display information to the user
`print("Hello World")`
will display the words `"Hello World"` in the output

In [ ]:
print("Hello World")

Hello World


# Comments
Comments are really useful when programming as you can leave reminders of what you have doen, messages to your self and other programmers about what you're trying to do.
Good programmers always put comments in their code!

In [ ]:
# This is a comment
print("Hello World")  # you can also add comments to the end of lines in Python

Hello World

# Variables
Variables are used to store data. They are given a name and programmers can use the name of the variable to represent the data that is stored in it

* Variable names should be one word, not start with a number and not be a reserved word
*` myname = "Mrs James"`
* The variable name in this case is `myname`
* The variable `myname` has the string Mrs James stored in it
* The `=` sign is this case is an **assignment operator**

## Data types
* Data types - string, integer, float and Boolean


| Data type| Description                              |
| ----------------  | ----------- |
| String            | Characters typed in on a keyboard           |
| Integers     | Whole numbers           |
| Float   | Decimal numbers         |
| Boolean| True or False          |

* Four variables below have been assigned

In [ ]:
yourname = "King Midas"
numchildren = 5
weight = 10.3
wearsglasses = True
print(yourname)
print(numchildren)
print(weight)
print(wearsglasses)

King Midas
5
10.3
True

To print different data types together in one sentence you need to concatenate them using the `+` sign. Think of it like a piece of glue that sticks variables and strings together (Notice how the space between the firstname and lastname variables is added as a string `" "`)

In [ ]:
firstname = "Bob"
lastname = "Smith"
print("Hello " + firstname + " " + lastname + ", nice to meet you!")

Hello Bob Smith, nice to meet you!

You will get an error if you try to concatenate a string and an integer.
This is because Python gets confused with the `+` operator - it's not sure if it should be sticking the text and number together or trying to add them!

In [ ]:
name = "Susan"
age = 21
print("Hi " + name + " you are " + age)

TypeError: ignored

You have to convert the integer into a string in order to be able to display it in a sentence. This is called **casting**
* To cast a variable into a string use the `str()` function (see below)
* To cast a variable into an integer use `int()`
* To cast a variable into a float use `float()`
* To cast a variable into a Boolean use `bool()`

In [ ]:
name = "Susan"
age = 21
print("Hi " + name + " you are " + str(age))

An example of where you will need to convert a string to an integer (or float) is when you ask a user for some input. 
The `input()` function will always return (send back) a string value. Therefore you will always need to convert it into a number (either int or float) **before** you try and do any mathematical operation with it.
Try this by running the code below and entering integer values, then decimal values then invalid text values. 
What do you notice?

In [ ]:
num1 = input("Enter first number ")
num2 = input("Enter second number ")
print(int(num1) + int(num2))

# Arithmetic operators
You can perform many arithmetic operations on numbers in Python

| Description       | Symbol      |
| ----------------  | ----------- |
| Addition         | +         |
| Subtraction      | -           |
| Multiplication   | *          |
| Division| /          |
| Integer Division   (Divides but ignores remainder)       | //          |
| Modulus (remainder)      | %          |
| Exponent (to the power of) | ** |

In [ ]:
num1 = input("Enter first number ")
num2 = input("Enter second number ")
print(int(num1) + int(num2))
print(int(num1) - int(num2))
print(int(num1) * int(num2))
print(int(num1) / int(num2))
print(int(num1) // int(num2))
print(int(num1) % int(num2))
print(int(num1) ** int(num2))

Enter first number 20
Enter second number 5
25
15
100
4.0
4
0
3200000

The modulus operator is often used to check if a number is even or odd. If a number is even, then dividing it by 2 will result in a remainder of 0
e.g
`num % 2 `will equal `0`

# Comparison operators
The following operators allow you to compare different values. They will return a True or False - which can be useful in an `if` statement (see later)

| Description       | Symbol      |
| ----------------  | ----------- |
| Less Than         | <           |
| Greater Than      | >           |
| Less Than or Eq   | <=          |
| Greater Than or Eq| >=          |
| Equal To          | ==          |
| Not Equal To      | !=          |

In [ ]:
num1 = input("Enter first number ")
num2 = input("Enter second number ")
print(int(num1) < int(num2))
print(int(num1) > int(num2))

# Boolean Operators (And and Or)
You can combine comparison operator by using the `and` and `or` operators

Can you get two numbers that will both print out True?
Can you get two numbers that will both print out False?

In [ ]:
num1 = input("Enter first number ")
num2 = input("Enter second number ")
print(int(num1) < int(num2) and int(num1) > 10) #is the first number less than the second and is it bigger than 10?
print(int(num1) <=  1 or int(num1) >= 10) #is the first number less than or equal to 1 or bigger than or equal to 10

# If statements
This is the main way of choosing different instructions to run based on different criteria.

**INDENTATION MATTERS!**

Notice how the line (or lines) that are in the block of code that runs when the if statement is True are tabbed in from the margin. You can do this easily by pressing the Tab button (rather than two spaces)

In [ ]:
name = input("What is your name? ")
if name == "Bob":
    print("Welcome back Bob")

If you want to display something else if the user isn't Bob then you need an `else` block

In [ ]:
name = input("What is your name? ")
if name == "Bob":
    print("Welcome back Bob")
else:
    print("You're not Bob - go away!")

You can make if statements have multiple criteria with the same outcome using the Boolean keywords `or` and `and`

In [ ]:
name = input("What is your name? ")
if name == "Bob" or name == "Susan":
    print("My best friends! Nice to see you")
else:
    print("You're not my friend - go away!")

You can make if statements have multiple criteria with the different outcomes using the `elif` keyword (which stands for else if) 

You can have multiple elifs in one if statement.
Note - the `elifs` MUST go before the `else`

In [ ]:
name = input("What is your name? ")
if name == "Bob":
    print("Welcome back Bob")
elif name == "Susan":
    print("Welcome back Susan")
else:
    print("You're not my friend - go away!")

# For Loops

A for loop is also called a "count controlled loop" as it will run for a certain number of times. Eg in the example below Hello is printed 5 times

In [ ]:
for i in range(5):
  print("Hello")

Hello
Hello
Hello
Hello
Hello

The i in a for loop is a free variable which goes up (incremented) by 1 on each loop. The variable doesn't have to be called i. And you can print out out as shown below. NOTE: the counter starts at 0 and doesn't go all the way up to the number in brackets - In this case it prints out from 0 up to 9 butnot including 10

In [ ]:
for count in range(10):
  print(count)

0
1
2
3
4
5
6
7
8
9

You can specify which number its starts from by adding two numbers to the range

In [ ]:
for count in range(3,10):
  print(count)

3
4
5
6
7
8
9

You can also make the counter go up in steps other than 1, eg 5 - see below

In [ ]:
for count in range(5,100, 5):
  print(count)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [ ]:
#ANother way of using a for loop WITHOUT a free i counter variable is shown below
#this is a quicker way of iterating through a list of items

mylist = ["red","green","blue","yellow"]
for colour in mylist:
  #colour will be assigned to each item in the list
  print("My favourite colour is " + colour)

My favourite colour is red
My favourite colour is green
My favourite colour is blue
My favourite colour is yellow

# While Loops

In [ ]:
password = input("What is your password?")
while password != "cake":
  print("Incorrect password!")
  password = input("What is your password?")

print("You are now logged in!")

What is your password?dog
Incorrect password!
What is your password?cat
Incorrect password!
What is your password?cake
You are now logged in!

# Arrays / Lists

In [ ]:
pets = ["cat","dog","hamster","snake"]
print(pets) # prints whole list
print(pets[0]) #prints first item
print(pets[1]) #prints second item
print(pets[-1]) #prints last item
print(len(pets)) #prints how many items

['cat', 'dog', 'hamster', 'snake']
cat
dog
snake
4

# Working with Strings

In [ ]:
firstname = "Homer"
lastname = "Simpson"
print(firstname + lastname) #the + glues the strings together - called concatenation
print(firstname[0]) # prints first letter of firstname
print(firstname[0:2]) # prints first TWO letters of firstname
print(firstname[2:6]) # prints the substring starting at pos 2 and finishing at pos 6 (exclusive)
print(firstname[:-1]) # prints everything but last letter
print(len(firstname))#prints num characters in firstname
print(firstname.replace("o","X")) #replaces all "o" with "X"
print(firstname.split("m")) # returns an ARRAY of strings split on a character - useful

HomerSimpson
H
Ho
mer
Home
5
HXmer
['Ho', 'er']

# Creating our own subroutines

In [ ]:
# a simple procedure
def sayHello():
  print("Hello!")
  print("Hello!")

#the procedure above does nothing until it is called
sayHello()

Hello!
Hello!

##Parameters
Parameters are values passed to a subroutine. These can be different each time the subprogram is called.

Multiple parameters are separated by commas

In [ ]:
# a simple procedure with a parameter
#num is a variable that is passed to the function
def sayHelloANumberOfTimes(num):
  for i in range(num):
    print("Hello")

#calling the function with a parameter of 5 should make it say Hello 5 times
sayHelloANumberOfTimes(5)

Hello
Hello
Hello
Hello
Hello

##Functions
Functions are special subprograms that are said to "return" a value to the calling program. They can be used inside the main program as a value themselves. They are very powerful - but often misunderstood

In [ ]:
def getSalePrice(price):
  newprice = price * 0.9 # take 10% off
  return newprice  # the return statement returns a value to the calling program

yourprice = float(input("how much was the item before discount? "))
delivery = 4.99
#now you can use the function as a value in a calculation
totalprice = getSalePrice(yourprice) + delivery
print("\nThe total cost (inc. delivery) is £"+str(totalprice))

how much was the item before discount? 20

The total cost (inc. delivery) is £22.990000000000002

# Two D Arrays

In [ ]:
### 2d array (an array of arrays - can be thought of as rows and columns)
games2 = [
  ["Fornite","Minecraft","Rocket","COD","FIFA","CSGO"],
  ["Anna","Kylo","Darius","Christian","Ben","Matthew"],
  [ 120,    34,      45,        67,       999,    348]
]
print(games2[1][0]) #prints 1st item in 2nd row
print(len(games2[0])) #prints number of columns
total = 0 #initialises a new variable to zero
for i in range(len(games2[0])):
  print(games2[1][i]) #prints out name
  total = total + games2[2][i] #adds score to a total
print(total/6) #prints out average score

Anna
6
Anna
Kylo
Darius
Christian
Ben
Matthew
268.8333333333333

# Working with external files

##Working with files
These can be found on the left in the content folder:




![image.png]()

In [ ]:
f = open("test.txt","a") #the a parameter means it APPENDS data to the end of the file
f.write("hello world")
f.close()

In [ ]:
f = open("test2.txt","a")
f.write("hello world\n") #the \n puts a new line in the string
f.close()

In [ ]:
f = open("test2.txt","r") # opens in read mode
alldata  = f.readlines()
print(alldata) # gets an an array of all lines in file
for line in alldata:
  #loops through each item of array
  print(line)
f.close() #always remember to close the file

['hello world\n', 'hello world\n', 'hello world\n', 'hello world\n', 'hello world\n']
hello world

hello world

hello world

hello world

hello world

In [ ]:
f = open("test2.txt","r") # opens in read mode
alldata  = f.read().splitlines()
print(alldata) # gets an an array of all lines in file
for line in alldata:
  #loops through each item of array
  print(line)
f.close() #always remember to close the file

['hello world', 'hello world', 'hello world', 'hello world', 'hello world']
hello world
hello world
hello world
hello world
hello world

In [ ]:
import os 
print( os.getcwd()) #gets current working directory
directory = os.listdir(os.getcwd())
print(directory) #prints whole list of files and dirs
#loop through list and print out
for f in directory:
  print(f)

/content
['.config', 'test2.txt', 'test.txt', 'sample_data']
.config
test2.txt
test.txt
sample_data

# A Level
Useful stuff

The try block lets you test a block of code for errors.

The except block lets you handle the error.

The else block lets you execute code when there is no error.

The finally block lets you execute code, regardless of the result of the try- and except blocks.

In [ ]:
try:
  print(X)
except NameError:
  print("Variable X is not defined")
except:
  print("Something else went wrong")

Variable X is not defined

You can assign multiple variables at once - this is called **unpacking**

In [ ]:
a,b=(100,200)
print(a)
print(b)

x,y,z = 0,0,0
print(x,y,z)

100
200
0 0 0

# list function
This will take a string (and other things...) and return a list of characters

In [ ]:
myword = "Magenta"
print(list(myword))

['M', 'a', 'g', 'e', 'n', 't', 'a']

# join function
This is a useful function for concatentating an array into a string without needing to do a big loop

In [ ]:
mylist = ["H","o","l","i","d","a","y"]
stucktogether1 = "".join(mylist)
print(stucktogether1)
stucktogether2 = "-".join(mylist)
print(stucktogether2)

Holiday
H-o-l-i-d-a-y

# Sets
Set are unordered and immutable - however you can add/remove things from a set.
No duplicates are allowed in sets

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

# Dictionaries

In [ ]:
x = ['apple', 'banana', 'cherry']
y = enumerate(x)

#print(list(y))

for i,j in list(y):
  print(i)
  print(j)

0
apple
1
banana
2
cherry

list comprehension